//! **************************************************************************
// Written by: Map P.20131013 on Fri Dec 18 00:03:40 2020
//! **************************************************************************

SCHEMATIC START;
COMP "E_p139" LOCATE = SITE "P139" LEVEL 1;
COMP "Arduino_bit0_p24" LOCATE = SITE "P24" LEVEL 1;
COMP "Arduino_Clear_p10" LOCATE = SITE "P10" LEVEL 1;
COMP "Arduino_bit1_p22" LOCATE = SITE "P22" LEVEL 1;
COMP "Pass_D3_b2_p105" LOCATE = SITE "P105" LEVEL 1;
COMP "COMMON1_p116" LOCATE = SITE "P116" LEVEL 1;
COMP "Comm<0>" LOCATE = SITE "P44" LEVEL 1;
COMP "Locker_p6" LOCATE = SITE "P6" LEVEL 1;
COMP "Comm<1>" LOCATE = SITE "P43" LEVEL 1;
COMP "Comm<2>" LOCATE = SITE "P33" LEVEL 1;
COMP "Pass_D0_b0_p59" LOCATE = SITE "P59" LEVEL 1;
COMP "Comm<3>" LOCATE = SITE "P30" LEVEL 1;
COMP "F_p141" LOCATE = SITE "P141" LEVEL 1;
COMP "Pass_D2_b1_p101" LOCATE = SITE "P101" LEVEL 1;
COMP "C_p133" LOCATE = SITE "P133" LEVEL 1;
COMP "Pass_D2_b3_p99" LOCATE = SITE "P99" LEVEL 1;
COMP "Pass_D0_b1_p61" LOCATE = SITE "P61" LEVEL 1;
COMP "Arduino_bit2_p17" LOCATE = SITE "P17" LEVEL 1;
COMP "Buzzer_p83" LOCATE = SITE "P83" LEVEL 1;
COMP "Pass_D1_b0_p55" LOCATE = SITE "P55" LEVEL 1;
COMP "Pass_D3_b3_p104" LOCATE = SITE "P104" LEVEL 1;
COMP "COMMON2_p115" LOCATE = SITE "P115" LEVEL 1;
COMP "Arduino_bit3_p15" LOCATE = SITE "P15" LEVEL 1;
COMP "Pass_D0_b2_p62" LOCATE = SITE "P62" LEVEL 1;
COMP "Pass_D3_b0_p112" LOCATE = SITE "P112" LEVEL 1;
COMP "Pass_D2_b2_p100" LOCATE = SITE "P100" LEVEL 1;
COMP "G_p143" LOCATE = SITE "P143" LEVEL 1;
COMP "Arduino_bit4_p12" LOCATE = SITE "P12" LEVEL 1;
PIN Arduino_bit4_p12_pin<0> = BEL "Arduino_bit4_p12" PINNAME PAD;
PIN "Arduino_bit4_p12_pin<0>" CLOCK_DEDICATED_ROUTE;
COMP "CLK" LOCATE = SITE "P123" LEVEL 1;
COMP "Segment<0>" LOCATE = SITE "P41" LEVEL 1;
COMP "Pass_D1_b1_p56" LOCATE = SITE "P56" LEVEL 1;
COMP "Segment<1>" LOCATE = SITE "P40" LEVEL 1;
COMP "Segment<2>" LOCATE = SITE "P35" LEVEL 1;
COMP "D_p137" LOCATE = SITE "P137" LEVEL 1;
COMP "Segment<3>" LOCATE = SITE "P34" LEVEL 1;
COMP "A_p126" LOCATE = SITE "P126" LEVEL 1;
COMP "Pass_D0_b3_p66" LOCATE = SITE "P66" LEVEL 1;
COMP "Segment<4>" LOCATE = SITE "P32" LEVEL 1;
COMP "Segment<5>" LOCATE = SITE "P29" LEVEL 1;
COMP "Segment<6>" LOCATE = SITE "P27" LEVEL 1;
COMP "COMMON3_p114" LOCATE = SITE "P114" LEVEL 1;
COMP "Pass_D1_b2_p57" LOCATE = SITE "P57" LEVEL 1;
COMP "Pass_D3_b1_p111" LOCATE = SITE "P111" LEVEL 1;
COMP "COMMON0_p117" LOCATE = SITE "P117" LEVEL 1;
COMP "Arduino_Enter_p8" LOCATE = SITE "P8" LEVEL 1;
PIN Arduino_Enter_p8_pin<0> = BEL "Arduino_Enter_p8" PINNAME PAD;
PIN "Arduino_Enter_p8_pin<0>" CLOCK_DEDICATED_ROUTE;
COMP "Pass_D1_b3_p58" LOCATE = SITE "P58" LEVEL 1;
COMP "Pass_D2_b0_p102" LOCATE = SITE "P102" LEVEL 1;
COMP "B_p131" LOCATE = SITE "P131" LEVEL 1;
SCHEMATIC END;

